body {
  margin: 0px;
}
.header {
  display: flex;
  background-color: #1f2937;
  flex-direction: column;
  font-family: "roboto", arial, helvetica;
  padding-bottom: 40px;
}
.header-top {
  display: flex;
  margin-bottom: 70px;
  padding: 18px 80px;
}
.header-logo img {
  width: 70%;
  height: auto;
}
.logo-text {
  font-size: 24px;
  color: #f9faf8;
}
.header-logo {
  display: flex;
  width: 70px;
  margin: 0px 0px 0px 80px;
  width: 100px;
  height: 50px;
  align-items: center;
}
.header-links {
  display: flex;
  margin: 3px 0px 0px auto;
}
.header-links a {
  color: #e5e7eb;
  text-decoration-line: none;
  font-size: 18px;
  list-style-type: none;
  margin: 8px;
}
.header-container {
  margin: 0px 80px 100px 150px;
  display: flex;
}
.header-text {
  display: flex;
  flex-direction: column;
  margin-right: 35px;
}
.header-title {
  font-size: 48px;
  font-weight: 800;
  color: #f9faf8;
  padding: 0px;
  margin: 0px;
}
.header-para {
  font-size: 18px;
  color: #e5e7eb;
  padding: 0px;
  margin: 10px;
}
.header-button {
  background-color: #3882f6;
  width: 125px;
  height: 38px;
  border-radius: 10px;
  font-size: 18px;
  font-family: "roboto", arial, helvetica;
  border-color: #3882f6;
  color: #e5e7eb;
  font-weight: bold;
}
.header-image {
  width: 950px;
  height: 240px;
}
.header-image img {
  width: 100%;
  height: 100%;
}
